DISCORD_APPLICATION_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
DISCORD_COMMAND_USAGE_LOGGING_ENABLED=true
DISCORD_LOCALIZATION_ENABLED=true
DISCORD_RESPONSE_VISIBILITY=ephemeral
DISCORD_LEADERBOARD_LIMIT=10
DISCORD_PLAYER_NAME_MAX_LENGTH=24
DISCORD_KD_FORMAT=float
DISCORD_EMBED_COLOR=black

CFTOOLS_APPLICATION_ID=
CFTOOLS_APPLICATION_SECRET=
CFTOOLS_SERVER_API_ID=
